__pycache__
db.sqlite3
files.py
text.txt
run_flower.py
reactor_setup.py
news/utils.py
news/ignores.py
news/filters.py
news_scraper/test.py
news_scraper/output.json

venv/
ignores/
news_scraper/news_scraper/__pycache__/  
news_scraper/spiders/__pycache__/
roshan_news/__pycache__/
news/__pycache__/
news/migrations/